@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.App {
  text-align: center;
  margin-top: 150px;
}
.searchBar {
  text-align: center;
  margin: 8px;
  border-radius: 10px;
}
.btn:hover {
  background: #1b2226;
  color: #d84315;
}
.Description {
  list-style: none;
}
.cityName {
  font-size: 24px;
  color: #cfd8dc;
  font-weight: bold;
}
.Temp {
  display: flex;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 1fr);
}

.infoBox {
  border: 1px solid #d84315;
  border-radius: 10px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 30px auto;
  max-width: 500px;
}

.unit a {
  color: #d84315;
  text-decoration: none;
}

.weatherForecast {
  text-align: center;
}

.forecastTemp-min {
  opacity: 0.6;
}
