@import url("https://fonts.googleapis.com/css2?family=Handjet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  background-color: #263238;
  color: white;
  margin: 0;
  font-family: "VT323", monospace;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  color: #ff5722;
  font-family: "Handjet", cursive;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 40px auto;
  margin-top: 190px;
  border-radius: 10px;
  max-width: 800px;
  text-align: center;
}
.foot {
  text-decoration: none;
  color: black;
}
.foot:hover {
  cursor: pointer;
  background: black;
  color: greenyellow;
}
